@model Wakency.Models.job

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>job</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.package)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.package)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.posted_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.posted_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.attachment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.attachment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.requirements)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.requirements)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.job_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
