@model IEnumerable<Wakency.Models.job>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.job_desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.package)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.posted_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.attachment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.job_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.requirements)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.job_desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.package)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.posted_by)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.attachment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.job_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.requirements)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.job_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.job_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.job_id })
        </td>
    </tr>
}

</table>
